In [1]:
import pandas as pd

In [17]:
data = pd.read_csv('ifood_df.csv')
data

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,0,1,407,392,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223.0,0,1,46,709,43,182,42,118,247,...,0,0,0,0,1,0,0,1094,847,0
2201,64014.0,2,1,56,406,0,30,0,0,8,...,1,0,0,0,0,0,1,436,428,1
2202,56981.0,0,0,91,908,48,217,32,12,24,...,0,0,0,0,1,0,0,1217,1193,1
2203,69245.0,0,1,8,428,30,214,80,30,61,...,1,0,0,0,0,1,0,782,721,0
2204,52869.0,1,1,40,84,3,61,2,1,21,...,0,0,0,0,0,0,1,151,130,0

In [35]:
Data_Description = pd.read_excel('iFood_Feature_Descriptions.xlsx')
Data_Description

                 Feature                                        Description
0                 Income                                  دخل الأسرة السنوي
1                Kidhome                       عدد الأطفال الصغار في المنزل
2               Teenhome                            عدد المراهقين في المنزل
3                Recency                      عدد الأيام منذ آخر عملية شراء
4               MntWines           المبلغ المصروف على النبيذ خلال آخر سنتين
5              MntFruits          المبلغ المصروف على الفواكه خلال آخر سنتين
6        MntMeatProducts           المبلغ المصروف على اللحوم خلال آخر سنتين
7        MntFishProducts          المبلغ المصروف على الأسماك خلال آخر سنتين
8       MntSweetProducts         المبلغ المصروف على الحلويات خلال آخر سنتين
9           MntGoldProds  المبلغ المصروف على المنتجات الذهبية خلال آخر س...
10     NumDealsPurchases                        عدد المشتريات التي تمت بخصم
11       NumWebPurchases  عدد المرات التي اشترى فيها العميل من الموقع ال...
12   NumCatalogPurchases      عدد المرات التي اشترى فيها العميل من الكتالوج
13     NumStorePurchases  عدد المرات التي اشترى فيها العميل من المتجر مب...
14     NumWebVisitsMonth  عدد زيارات العميل للموقع الإلكتروني خلال الشهر...
15          AcceptedCmp3         هل وافق العميل على الحملة الإعلانية رقم 3؟
16          AcceptedCmp4                   هل وافق العميل على الحملة رقم 4؟
17          AcceptedCmp5                   هل وافق العميل على الحملة رقم 5؟
18          AcceptedCmp1                   هل وافق العميل على الحملة رقم 1؟
19          AcceptedCmp2                   هل وافق العميل على الحملة رقم 2؟
20              Complain                هل قدّم العميل شكوى خلال آخر سنتين؟
21         Z_CostContact                  تكلفة الاتصال (غالبًا قيمة ثابتة)
22             Z_Revenue        الإيرادات (قد تكون قيمة مرجعية أو رقم ثابت)
23              Response                   هل استجاب العميل للحملة الأخيرة؟
24                   Age                                         عمر العميل
25         Customer_Days                عدد الأيام منذ انضمام العميل للشركة
26      marital_Divorced                            الحالة الاجتماعية: مطلق
27       marital_Married                           الحالة الاجتماعية: متزوج
28        marital_Single                            الحالة الاجتماعية: أعزب
29      marital_Together                 الحالة الاجتماعية: مرتبط بدون زواج
30         marital_Widow                            الحالة الاجتماعية: أرمل
31    education_2n Cycle            التعليم: المرحلة الثانوية (الصف الثاني)
32       education_Basic                                     التعليم: أساسي
33  education_Graduation                                     التعليم: جامعي
34      education_Master                                   التعليم: ماجستير
35         education_PhD                                   التعليم: دكتوراه
36              MntTotal              إجمالي المبلغ المصروف على كل المنتجات
37       MntRegularProds  إجمالي المبلغ المصروف على المنتجات العادية (غي...
38    AcceptedCmpOverall              هل وافق العميل على أي حملة من الخمسة؟

In [46]:
Data_Columns = []
for i in Data_Description['Description']:
    Data_Columns.append(i)
print(Data_Columns)

['دخل الأسرة السنوي', 'عدد الأطفال الصغار في المنزل', 'عدد المراهقين في المنزل', 'عدد الأيام منذ آخر عملية شراء', 'المبلغ المصروف على النبيذ خلال آخر سنتين', 'المبلغ المصروف على الفواكه خلال آخر سنتين', 'المبلغ المصروف على اللحوم خلال آخر سنتين', 'المبلغ المصروف على الأسماك خلال آخر سنتين', 'المبلغ المصروف على الحلويات خلال آخر سنتين', 'المبلغ المصروف على المنتجات الذهبية خلال آخر سنتين', 'عدد المشتريات التي تمت بخصم', 'عدد المرات التي اشترى فيها العميل من الموقع الإلكتروني', 'عدد المرات التي اشترى فيها العميل من الكتالوج', 'عدد المرات التي اشترى فيها العميل من المتجر مباشرة', 'عدد زيارات العميل للموقع الإلكتروني خلال الشهر الماضي', 'هل وافق العميل على الحملة الإعلانية رقم 3؟', 'هل وافق العميل على الحملة رقم 4؟', 'هل وافق العميل على الحملة رقم 5؟', 'هل وافق العميل على الحملة رقم 1؟', 'هل وافق العميل على الحملة رقم 2؟', 'هل قدّم العميل شكوى خلال آخر سنتين؟', 'تكلفة الاتصال (غالبًا قيمة ثابتة)', 'الإيرادات (قد تكون قيمة مرجعية أو رقم ثابت)', 'هل استجاب العميل للحملة الأخيرة؟', 'عمر العميل', 'عدد الأيام منذ انضمام العميل للشركة', 'الحالة الاجتماعية: مطلق', 'الحالة الاجتماعية: متزوج', 'الحالة الاجتماعية: أعزب', 'الحالة الاجتماعية: مرتبط بدون زواج', 'الحالة الاجتماعية: أرمل', 'التعليم: المرحلة الثانوية (الصف الثاني)', 'التعليم: أساسي', 'التعليم: جامعي', 'التعليم: ماجستير', 'التعليم: دكتوراه', 'إجمالي المبلغ المصروف على كل المنتجات', 'إجمالي المبلغ المصروف على المنتجات العادية (غير الذهبية)', 'هل وافق العميل على أي حملة من الخمسة؟']

In [49]:
len(Data_Columns)

39

In [51]:
data.columns = Data_Columns
data

,دخل الأسرة السنوي,عدد الأطفال الصغار في المنزل,عدد المراهقين في المنزل,عدد الأيام منذ آخر عملية شراء,المبلغ المصروف على النبيذ خلال آخر سنتين,المبلغ المصروف على الفواكه خلال آخر سنتين,المبلغ المصروف على اللحوم خلال آخر سنتين,المبلغ المصروف على الأسماك خلال آخر سنتين,المبلغ المصروف على الحلويات خلال آخر سنتين,المبلغ المصروف على المنتجات الذهبية خلال آخر سنتين,...,الحالة الاجتماعية: مرتبط بدون زواج,الحالة الاجتماعية: أرمل,التعليم: المرحلة الثانوية (الصف الثاني),التعليم: أساسي,التعليم: جامعي,التعليم: ماجستير,التعليم: دكتوراه,إجمالي المبلغ المصروف على كل المنتجات,إجمالي المبلغ المصروف على المنتجات العادية (غير الذهبية),هل وافق العميل على أي حملة من الخمسة؟
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,0,1,407,392,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223.0,0,1,46,709,43,182,42,118,247,...,0,0,0,0,1,0,0,1094,847,0
2201,64014.0,2,1,56,406,0,30,0,0,8,...,1,0,0,0,0,0,1,436,428,1
2202,56981.0,0,0,91,908,48,217,32,12,24,...,0,0,0,0,1,0,0,1217,1193,1
2203,69245.0,0,1,8,428,30,214,80,30,61,...,1,0,0,0,0,1,0,782,721,0
2204,52869.0,1,1,40,84,3,61,2,1,21,...,0,0,0,0,0,0,1,151,130,0

In [53]:
data.to_csv("ifood_new_data.csv")

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   دخل الأسرة السنوي                                         2205 non-null   float64
 1   عدد الأطفال الصغار في المنزل                              2205 non-null   int64
 2   عدد المراهقين في المنزل                                   2205 non-null   int64
 3   عدد الأيام منذ آخر عملية شراء                             2205 non-null   int64
 4   المبلغ المصروف على النبيذ خلال آخر سنتين                  2205 non-null   int64
 5   المبلغ المصروف على الفواكه خلال آخر سنتين                 2205 non-null   int64
 6   المبلغ المصروف على اللحوم خلال آخر سنتين                  2205 non-null   int64
 7   المبلغ المصروف على الأسماك خلال آخر سنتين                 2205 non-null   int64
 8   المبلغ المصروف على الحلويات خلال آخر سنتين                2205 non-null   int64
 9   المبلغ المصروف على المنتجات الذهبية خلال آخر سنتين        2205 non-null   int64
 10  عدد المشتريات التي تمت بخصم                               2205 non-null   int64
 11  عدد المرات التي اشترى فيها العميل من الموقع الإلكتروني    2205 non-null   int64
 12  عدد المرات التي اشترى فيها العميل من الكتالوج             2205 non-null   int64
 13  عدد المرات التي اشترى فيها العميل من المتجر مباشرة        2205 non-null   int64
 14  عدد زيارات العميل للموقع الإلكتروني خلال الشهر الماضي     2205 non-null   int64
 15  هل وافق العميل على الحملة الإعلانية رقم 3؟                2205 non-null   int64
 16  هل وافق العميل على الحملة رقم 4؟                          2205 non-null   int64
 17  هل وافق العميل على الحملة رقم 5؟                          2205 non-null   int64
 18  هل وافق العميل على الحملة رقم 1؟                          2205 non-null   int64
 19  هل وافق العميل على الحملة رقم 2؟                          2205 non-null   int64
 20  هل قدّم العميل شكوى خلال آخر سنتين؟                       2205 non-null   int64
 21  تكلفة الاتصال (غالبًا قيمة ثابتة)                         2205 non-null   int64
 22  الإيرادات (قد تكون قيمة مرجعية أو رقم ثابت)               2205 non-null   int64
 23  هل استجاب العميل للحملة الأخيرة؟                          2205 non-null   int64
 24  عمر العميل                                                2205 non-null   int64
 25  عدد الأيام منذ انضمام العميل للشركة                       2205 non-null   int64
 26  الحالة الاجتماعية: مطلق                                   2205 non-null   int64
 27  الحالة الاجتماعية: متزوج                                  2205 non-null   int64
 28  الحالة الاجتماعية: أعزب                                   2205 non-null   int64
 29  الحالة الاجتماعية: مرتبط بدون زواج                        2205 non-null   int64
 30  الحالة الاجتماعية: أرمل                                   2205 non-null   int64
 31  التعليم: المرحلة الثانوية (الصف الثاني)                   2205 non-null   int64
 32  التعليم: أساسي                                            2205 non-null   int64
 33  التعليم: جامعي                                            2205 non-null   int64
 34  التعليم: ماجستير                                          2205 non-null   int64
 35  التعليم: دكتوراه                                          2205 non-null   int64
 36  إجمالي المبلغ المصروف على كل المنتجات                     2205 non-null   int64
 37  إجمالي المبلغ المصروف على المنتجات العادية (غير الذهبية)  2205 non-null   int64
 38  هل وافق العميل على أي حملة من الخمسة؟                     2205 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 672.0 KB

In [19]:
data.nunique()

Income                  1963
Kidhome                    3
Teenhome                   3
Recency                  100
MntWines                 775
MntFruits                158
MntMeatProducts          551
MntFishProducts          182
MntSweetProducts         176
MntGoldProds             212
NumDealsPurchases         15
NumWebPurchases           15
NumCatalogPurchases       13
NumStorePurchases         14
NumWebVisitsMonth         16
AcceptedCmp3               2
AcceptedCmp4               2
AcceptedCmp5               2
AcceptedCmp1               2
AcceptedCmp2               2
Complain                   2
Z_CostContact              1
Z_Revenue                  1
Response                   2
Age                       56
Customer_Days            662
marital_Divorced           2
marital_Married            2
marital_Single             2
marital_Together           2
marital_Widow              2
education_2n Cycle         2
education_Basic            2
education_Graduation       2
education_Master           2
education_PhD              2
MntTotal                 897
MntRegularProds          974
AcceptedCmpOverall         5
dtype: int64

In [22]:
Customer_Days = []
for i in data['Customer_Days']:
    Customer_Days.append(i / 364.25)
Customer_Days  = pd.DataFrame(Customer_Days)
Customer_Days

             0
0     7.747426
1     6.237474
2     6.783802
3     6.308854
4     6.369252
...        ...
2200  6.973233
2201  5.979410
2202  6.352780
2203  6.355525
2204  7.634866

[2205 rows x 1 columns]

In [32]:
list(data['AcceptedCmpOverall']).count(2)

81